body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 700px; /* Adjust the maximum width as per your preference */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.logo {
    margin-left: 10px;
}

section {
    width: 85%;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: aliceblue;
    text-align: center;
}

img {
    max-width: 90%;
    height: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 50px;
}
