.event-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.editable-card {
    border: 1px solid black;
    padding: 5px;
    background-color: #ccc;
}
